---
import C2AnimationParent from "../../../components/AnimationParent.astro";
import C2MainPage from "../../../components/MainPage.astro";
import C2NavHeader from "../../../components/NavHeader.astro";
---

<C2MainPage>
  <section>
    <C2NavHeader invisible={true} />
    <h2
      class="text-center text-6xl mt-1 bg-clip-text text-transparent bg-gradient-to-r from-blue-950 via-blue-700 to-blue-950"
    >
    Web pages
    </h2>
    <!-- Planes -->
    <C2AnimationParent intersectionThreshold={0}>
      <div
        class="c2animate fade-in-bottom flex flex-wrap gap-5 justify-evenly max-w-[1500px] mt-10 m-auto"
      >
        <!-- Plan básico -->
        <div class="w-72">
          <div
            class="h-[34rem] shadow-[0_0_20px_0_rgba(0,0,0,0.15)] rounded-3xl p-5"
          >
            <h2 class="text-center text-4xl">Basic Plan</h2>
            <p class="text-center text-lg mt-6 font-bold">
              Ideal for those who wish to have a solid online presence and
              static
            </p>
            <!-- <h2 class="text-[#1843A2] text-center text-5xl mt-16">$300</h2> -->
            <div class="flex justify-center">
              <a href="./plan1/contacto">
                <button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[19px]"
                >
                  Acquire
                </button>
              </a>
            </div>
            <ul class="text-2xl mt-5 font-bold">
              <li> • 1 main page. </li>
              <li> • 1 additional view. </li>
              <li> • Static page. </li>
              <li>
              • Default design (you can choose from our
              templates).
              </li>
            </ul>
          </div>
          <a href="/">
            <p
              class="ml-4 mt-2 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              View Reference
            </p>
          </a>
        </div>
        <!-- Plan plus -->
        <div class="w-72">
          <div
            class="h-[34rem] shadow-[0_0_20px_0_rgba(0,0,0,0.15)] rounded-3xl p-5"
          >
            <h2 class="text-center text-4xl">Plan Plus</h2>
            <p class="text-center text-lg mt-6 font-bold">
              For those who seek digital growth with a design
              attractiveness and simple functionalities.
            </p>
            <!-- <h2 class="text-[#1843A2] text-center text-5xl mt-9">$500</h2> -->
            <div class="flex justify-center">
              <a href="./plan2/contacto">
                <button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[19px]"
                >
                  Acquire
                </button>
              </a>
            </div>
            <ul class="text-2xl mt-5 font-bold">
              <li> • 1 main page. </li>
              <li> • 3 additional views. </li>
              <li> • Simple functionalities. </li>
              <li> • Default design / you can bring your own design. </li>
            </ul>
          </div>
          <a href="/">
            <p
              class="ml-4 mt-2 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              View Reference
            </p>
          </a>
        </div>
        <!-- Plan premium -->
        <div class="w-72">
          <div
            class="h-[34rem] shadow-[0_0_20px_0_rgba(0,0,0,0.15)] rounded-3xl p-5"
          >
            <h2 class="text-center text-4xl">Premium Plan</h2>
            <p class="text-center text-lg mt-6 font-bold">
              Perfect for companies looking for a platform with
              advanced and highly personalized functionalities.
            </p>
            <!-- <h2 class="text-[#1843A2] text-center text-5xl mt-9">$800</h2> -->
            <div class="flex justify-center">
              <a href="./plan3/contacto">
                <button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[19px]"
                >
                  Acquire
                </button>
              </a>
            </div>
            <ul class="text-2xl mt-5 font-bold">
              <li> • 1 main page.
                <li> • 5 Views Add.
                <li> •Advanced characteristics.
                <li> • Personalized design.
            </ul>
          </div>
          <a href="/">
            <p
              class="ml-4 mt-2 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              View Reference
            </p>
          </a>
        </div>
        <!-- Plan personalizado -->
        <div class="w-72">
          <div
            class="h-[34rem] shadow-[0_0_20px_0_rgba(0,0,0,0.15)] rounded-3xl p-5"
          >
            <h2 class="text-center text-4xl">Personalized Plan</h2>
            <p class="text-center text-lg mt-6 font-bold">
              We will work closely with you to understand your needs
              Specific and we will make your project come true.
            </p>
            <h2 class="text-[#1843A2] text-center text-5xl mt-9">
              To consult
            </h2>
            <div class="flex justify-center">
              <a href="./custom/contacto">
                <button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[19px]"
                >
                  Contact us
                </button>
              </a>
            </div>
            <ul class="text-2xl mt-5 font-bold">
              <li> • 1 main page. </li>
              <li> • 8 + additional views. </li>
              <li> • SEO optimization. </li>
              <li> • Personalized design. </li>
              <li> • Complex functionalities. </li>
            </ul>
          </div>
          <a href="/">
            <p
              class="ml-4 mt-2 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              View Reference
            </p>
          </a>
        </div>
      </div>
    </C2AnimationParent>
  </section>
  <section
    class="mt-10 bg-[url('/110428-black-and-blue-blurred-background-vector.webp')] bg-cover bg-center"
  >
    <h2 class="text-7xl text-center text-white pt-20">
      Hosting and maintenance
    </h2>
    <p
      class="text-white text-center resp:text-3xl text-4xl font-bold max-w-[60rem] m-auto mt-10 px-5 tiny:px-16 md:px-5"
    >
    We take care of accommodating your website on safe and reliable servers,
    guaranteeing optimal performance. In addition, our team takes care of
    Continuous maintenance so you can focus on your business.
    Consult to obtain information and enjoy the tranquility of having
    Your online presence always active!
    </p>
    <div class="flex justify-center mt-8 pb-20">
      <a href="/servicios/hosting-mantenimiento/paginas-web/contacto">
        <button
          class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer transition duration-300 border-[0.005rem] border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-3xl"
        >
          Contact us
        </button>
      </a>
    </div>
  </section>
</C2MainPage>
