---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<c2dev-review-carousel
  class="splide flex justify-center relative max-w-[100%] w-[100%]"
  role="group"
  aria-label="Reviews"
>
  <div class="splide__track">
    <div class="splide__list">
      <div
        class="splide__slide 2xl:px-3 md:px-10 3xl:px-5 px-3 md:pt-10 lg:pt-2 pt-3 pb-8"
      >
        <div
          class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
        >
          <img
            src="/bynxsquarelogowhite.png"
            class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
          />
          <div
            class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]"
          >
            <p class="text-white md:text-5xl lg:text-4xl text-2xl font-medium">
              <span class="md:text-5xl text-3xl">{"“"}</span>
              {t('reviews.review1')}
              <span class="md:text-5xl text-3xl">{"”"}</span>
            </p>
            <p class="text-white md:text-4xl text-2xl text-right mr-10">
              <span class="font-sans">{"~"}</span> BYNX Services
            </p>
          </div>
        </div>
      </div>
      <div class="splide__slide 2xl:px-3 md:px-10 px-3 md:pt-10 pt-3 pb-8">
        <div
          class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
        >
          <img
            src="/serosquarelogowhite.png"
            class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
          />
          <div
            class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]"
          >
            <p class="text-white md:text-5xl lg:text-4xl text-2xl">
              <span class="md:text-5xl text-3xl">{"“"}</span>
              {t('reviews.review2')}
              <span class="md:text-5xl text-3xl">{"”"}</span>
            </p>
            <p class="text-white md:text-4xl text-2xl text-right mr-10">
              <span class="font-sans">{"~"}</span> SERØ Enterprise Solutions
            </p>
          </div>
        </div>
      </div>
      <div class="splide__slide 2xl:px-3 md:px-10 px-3 md:pt-10 pt-3 pb-8">
        <div
          class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
        >
          <img
            src="/jonoapsssquarelogoswhite.png"
            class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
          />
          <div
            class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]"
          >
            <p class="text-white md:text-5xl lg:text-4xl text-2xl">
              <span class="md:text-5xl text-3xl">{"“"}</span>
              {t('reviews.review3')}
              <span class="md:text-5xl text-3xl">{"”"}</span>
            </p>
            <p class="text-white md:text-4xl text-2xl text-right mr-10">
              <span class="font-sans">{"~"}</span> Jonathan Precise Apps
            </p>
          </div>
        </div>
      </div>
      <div class="splide__slide 2xl:px-3 md:px-10 px-3 md:pt-10 pt-3 pb-8">
        <div
          class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
        >
          <img
            src="/melaoicon.png"
            class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
          />
          <div
            class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]"
          >
            <p class="text-white md:text-5xl lg:text-4xl text-2xl">
              <span class="md:text-5xl text-3xl">{"“"}</span>
              {t('reviews.review4')}
              <span class="md:text-5xl text-3xl">{"”"}</span>
            </p>
            <p class="text-white md:text-4xl text-2xl text-right mr-10">
              <span class="font-sans">{"~"}</span> Melao Bags
            </p>
          </div>
        </div>
      </div>
      <div class="splide__slide 2xl:px-3 md:px-10 px-3 md:pt-10 pt-3 pb-8">
        <div
          class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
        >
          <img
            src="/sebasphotograpgysquarelogowhite.png"
            class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
          />
          <div
            class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]"
          >
            <p class="text-white md:text-5xl lg:text-4xl text-2xl">
              <span class="md:text-5xl text-3xl">{"“"}</span>
              {t('reviews.review5')}
              <span class="md:text-5xl text-3xl">{"”"}</span>
            </p>
            <p class="text-white md:text-4xl text-2xl text-right mr-10">
              <span class="font-sans">{"~"}</span> Sebastián Castro Rajbe Photography
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</c2dev-review-carousel>
<script>
  import { Splide, type Options as SplideOptions } from "@splidejs/splide";
  import { Intersection } from "@splidejs/splide-extension-intersection";

  const options: SplideOptions = {
    type: "loop",
    autoHeight: true,
    autoplay: "pause",
    interval: 20000,
    pauseOnHover: true,
    // lazyLoad: "nearby",
    preloadPages: 1,
    updateOnMove: true,
    intersection: {
      inView: {
        autoplay: true,
      },
      outView: {
        autoplay: false,
      },
    },
    classes: {
      arrow: "splide__arrow !bg-transparent md:!visible invisible",
    },
  };

  class C2DevReviewCarousel extends HTMLElement {
    splide: Splide | null = null;

    constructor() {
      super();
    }

    connectedCallback() {
      this.splide = new Splide(this, options);
      this.splide.mount({ Intersection });
    }

    disconnectedCallback() {
      this.splide?.destroy();
    }
  }
  window.customElements.define("c2dev-review-carousel", C2DevReviewCarousel);
</script>
